#contenedor-padre #prueba1 {
    background-color: aquamarine;
    height: 100%;
    width: 100%;

}
#contenedor-padre #prueba2 {
    background-color: rgb(127, 161, 255);
    height: 380%;
    width: 100%;
}
#contenedor-padre #prueba3 {
    background-color: rgb(65, 173, 44);
    height: 300px;
    width: 100%;
}
#contenedor-padre {
    display: flex;
    height: 100%;
}
